<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Portfolio</title>
		<!-- Font Family -->
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="assets/stylesheet/style.css">
	</head>
	<body>
		<main class="main_container">
			<section class="container">
				<div class="banner">
					<img src="assets/media/slider-1-1920x1080.jpg" alt="">
					<div class="hero_container">
						<img src="" alt="">
						<h1>Ruchi kharwar</h1>
					</div>
				</div>
				
			</section>
			
		</main>

	</body>
</html>