<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Portfolio</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

		<!-- Custom CSS -->

		<link rel="stylesheet" href="assets/stylesheet/style.css">
	</head>
	<body>
		<main class="main_container">
			<section class="container">
				<div class="banner">
					<!-- Header -->
					<header class="header">
						<a href=""><h1>Portfolio </h1></a>

						<!-- Navigation -->

						<nav>
							<ul class="banner_navigation">
								<li><a href="">HOME</a></li>
								<li><a href="#about">ABOUT</a></li>
								<li><a href="#porfolio">PORTFOLIO</a></li>
								<li><a href="#blog">BLOG</a></li>
								<li><a href="#contact">CONTACT</a></li>
							</ul>
						</nav>						
					</header>
					<img class="awtar" src="assets/media/DSCN0442.jpeg" alt="">
					<div class="banner_item"></div>
					<!-- <img class="banner_item" src="assets/media/slider-1-1920x1080.jpg" alt=""> -->
					<div class="hero_container">
						<div class="hero_awtar">
							<h2 class="heading_padding">Hello, I'm Ruchi kharwar</h2>
							<p class="heading_padding">A Front-End Developer</p>
							<p class="heading_padding">EMAIL: ruchikharwar4@gmail.com</p>
							<div class="hero_icons_items">
								<div class="hero__icons">
									<a href=""><i class="fab fa-facebook-f"></i></a>
								</div>
								<div class="hero__icons">
									<a href="https://twitter.com/kharwar_ruchi"><i class="fab fa-twitter"></i></a>
								</div>								
								<div class="hero__icons">
									<a href=""><i class="fab fa-linkedin-in"></i></a>
								</div>
								<div class="hero__icons">
									<a href="https://medium.com/@ruchikharwar4"><i class="fab fa-medium-m"></i></a>
								</div>
							</div>
							
						</div>						
					</div>
				</div>

				<!-- Secondary container -->

				<section class="secondary_container">

					<!-- About section -->
					<section id="about" class="about-me">
						<div class="about_text">
							
							<div class="about__header">
								<div class="about__border"></div>
								<h2 class="heading_padding">About Me</h2>
								<p>PROFESSIONAL PATH</p>
							</div>
							
							<!-- <img class="" src="assets/media/IMG_20180912_211642.JPG" alt=""> -->
						</div>
						<div>
							<h3 class="">Hi, I'm Ruchi, a front-end developer, UX/UI designer</h3>
						 	<p class="about__desc heading_padding">I love using technology-based solutions to help solve real world challenges. I like learning and sharing my knowledge about web development/design currentaly learning web development. I gathered  first experiences working in vasononmics India Pvt Ltd have managed database</p>
						 	<a href=""><button class="port_btn ">Download CV</button></a>
						</div>

					</section>

					<!-- Portfolio section -->

					<section id="porfolio" class="my-work">
						<!-- <section class="my__work__main"> -->
							<div class="about__header">
								<div class="about__border"></div>
								<h2 class="heading_padding">Portfolio</h2>
								<p>MY WORK</p>
							</div>
							
<!-- 								<h1>HTML&CSS Project</h1>
 -->							<div class="work_project">
								<div>
									<img src="assets/media/p1.png" alt="">
								</div>
								<div>
									<img src="assets/media/p2.png" alt="">
								</div>
								
								<div>
									<img src="assets/media/p3.png" alt="">
								</div>	

								<div>
									<img src="assets/media/project_6.png" alt="">
								</div>	

								<div>
									<img src="assets/media/p6.png" alt="">
								</div>

								<div>
									<img src="assets/media/p7.png" alt="">
								</div>										
							</div>

							
						<!-- </section>						 -->
					</section>

					<!-- Skills section -->

					<section class="my-skills">
						
						<div class= "about__header">
							<div class="about__border">			
							</div>
							<h2 class="heading_padding">My Skills</h2>
							<p>Language Framwork Tools</p>
						</div>
						<div class="skills__icons">
							<div class="skills__items">
								<div class="border__skills">
									<img src="assets/media/CSS3_Logo.svg">
									<div>CSS3</div>
								</div>
							</div>
							<div>
								<div class="border__skills">
									<img src="assets/media/Azure-SQL-icon.png">
								 	<div>SQL</div>
								</div>
							</div>
							
							<div>
								<div class="border__skills"><img src="assets/media/html5_logo_128_1.png">
									<div>HTML5</div>
								</div>
							</div>

							<div>
								<div class="border__skills"><img src="assets/media/javascript_logo.png">
									<div>JS</div>
								</div>
							</div>

							<div>
								<div class="border__skills"><img src="assets/media/sass.png">
									<div>sass</div>
								</div>
							</div>

							<div>
								<div class="border__skills"><img src="assets/media/React-icon.svg.png">
									<div>REACT</div>
								</div>
							</div>
						</div>					
					</section>

					<!-- <section class="resume">
						<h2>My Resume</h2>
						<div class="resume__items">
							<div class="education">
								<h2>Education</h2>
								<div class="">
									<h3>Masteral in Information Technology</h3>
									<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
									<h4>New York University</h4>
								</div>

								<div class="">
									<h3>Masteral in Information Technology</h3>
									<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
									<h4>New York University</h4>
								</div>
							</div>

							<div class="experience">
								<h2>Experience</h2>
								<div class="">
									<h3>Lead Product Designer</h3>
									<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
									<h4>New York University</h4>
								</div>
							</div>
						</div>										
					</section>


	 -->
	 					<!-- Blog sevction -->

					<section id="blog" class="blog">
						<div class="about__header">
							<div class="about__border">	
							</div>
							<h2>Blogs</h2>
						</div>
							<div class="blog_items">
								<div class="blog__desc">
									<a href="https://medium.com/p/dacab14cb09e/edit" target="_blank"><h3 class="heading_padding">Introduction to The Box Model</h3></a>
									<img src="assets/media/bp1.png">
								</div>
								<div class="blog__desc">
									<a href="https://medium.com/@ruchikharwar4/positioning-html-elements-using-css-1bc75e99fde9" target="_blank"><h3 class="heading_padding">Positioning HTML elements Using CSS</h3></a>
									<img src="assets/media/bp2.png">
								</div>							
							</div>
					</section>
				</section>

					<!-- Contact me -->

				<section id="contact" class="contact-me">
					<div class="contact-way">
						

						<div class="My Contaict Details">
							<h2 class="heading_padding">CONTACT INFO</h2>

							<p>Ready to start your next project with me? That's great! Give me a call or send me an email and I will get back to you as soon as possible!</p>
							
						</div>

						<div class="contact__items">
							<h2 class="heading_padding"> Get In Touch</h2>

							<form>
								<input type="text" name="name" placeholder="Your Name" class="name">
								<input type="text" name="email" placeholder="Your Email" class="name">
								<input type="number" name="phone" placeholder="Your phone" class="name"><br><br>
								<div>
									<textarea rows="10" cols="60" class="textarea"> </textarea>
								</div>
								<button class="contact_btn">SEND</button>
							</form>
						</div>						
					</div>					
				</section>
			</section>			
		</main>
	</body>
</html>